{% extends 'network/index.html' %}

{% load static %}

{% block profile %}
    <div class="profile-view" data-user="{{username.username}}">
        <div class="cover-image" style="background-image: url(/media/{{username.cover}})"></div>
        <div class="profile-image" style="background-image: url(/media/{{username.profile_pic}})"></div>
        <div class="profile-details">
            <div>
                {% if user.username == username.username %}
                    <button class="btn btn-outline-success float-right" id="edit-profile-btn">Изменить профиль</button>
                {% elif is_follower %}
                    <button class="btn btn-success float-right" onclick="unfollow_user(this,'{{username.username}}','edit_page')" id="following-btn">Отписаться</button>
                {% else %}
                    <button class="btn btn-outline-success float-right" onclick="follow_user(this,'{{username.username}}','edit_page')" id="follow-btn">Подписаться</button>
                {% endif %}
            </div>
            <div class="details-data">
                {% if username.spec is not None %}
                <h5>{{username.first_name}} {{username.last_name}} ({{username.spec}})</h5>
                {% else %}
                <h5>{{username.first_name}} {{username.last_name}}</h5>
                {% endif %}
                <div class="grey">@{{username.username}}</div>
                <div class="bio">
                    {% if username.bio is not None %}
                       О себе: {{username.bio}}
                    {% endif %}
                </div>
                <div class="grey" style="padding: 8px 0px;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                        <path fill-rule="evenodd" d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                    &nbsp;Joined {{username.date_joined | date:"F Y"}}
                </div>
                <div>
                    <strong>
                        {{posts_count}}
                    </strong>
                    &nbsp;<span class="grey">Постов</span>
                    &ensp;
                    <a href="#">
                        <strong id="following__count">{{following_count | default:0}}</strong>&nbsp;<span class="grey">Подписок</span>
                    </a>
                    &ensp;
                    <a href="#">
                        <strong id="follower__count">{{follower_count | default:0}}</strong>&nbsp;<span class="grey">Подписчиков</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
{% endblock %}

{% block emptyprofile %}
    <center>
        <br>
        <strong style="font-size: 1.2em;">@{{username}} еще ничего не выкладывал</strong>
        <div class="grey" style="font-size: .9em;">Когда он/она это сделают, его/ее посты появятся здесь.</div>
    </center>
{% endblock %}